{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %} 

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

<!-- Si user_ip existe, imprima el mensaje
sino, muestreme un link que me lleve al inicio

El else podría suceder si ingresamos directamente 
a la ruta /hello sin pasar por la raís "/"-->

{% block content %}
    {% if username %}
        <!-- capitalize es un filtro de flask para capitalize-->
        <h1>Bienvenido, {{ username | capitalize}}</h1>
    {% endif %}

    {% if user_ip %}
        <h3>Hello World Platzi, tu IP es {{ user_ip }}</h3>
    {% else %}
        <!-- url_for disponible en todos
        los templates de flask, nos permite
        encontrar la ruta específica pasandole
        el nombre de la función  -->
        <a href="{{ url_for('index') }}">Ir a inicio</a>

    {% endif %}

    <div>
        
        <!-- 
        Sin bootstrap
        <form action="{{ url_for('hello')}}" method="'POST">
            {{ login_form.username }}
            {{ login_form.username.label }}
        </form> -->
        
        {{ wtf.quick_form(login_form) }}
    </div>

    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo)}}
        {% endfor %}
    </ul>
{% endblock %}

